{{- if eq .Values.global.ory.oathkeeper.maester.mode "controller" }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "oathkeeper.fullname" . }}
  {{- if .Release.Namespace }}
  namespace: {{ .Release.Namespace }}
  {{- end }}
  labels:
    {{- include "oathkeeper.labels" . | nindent 4 }}
    {{- with .Values.deployment.labels }}
        {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.deployment.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.deployment.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  strategy:
    {{- toYaml .Values.deployment.strategy | nindent 4 }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "oathkeeper.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        {{- include "oathkeeper.labels" . | nindent 8 }}
        {{- with $.Values.deployment.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with $.Values.deployment.podMetadata.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with $.Values.global.podMetadata.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- include "oathkeeper.annotations.checksum" . | indent 8 -}}
        {{- with $.Values.deployment.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with $.Values.deployment.podMetadata.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with $.Values.global.podMetadata.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
        {{- if .Values.deployment.extraVolumes }}
          {{- toYaml .Values.deployment.extraVolumes | nindent 8 }}
        {{- end }}
        - name: {{ include "oathkeeper.name" . }}-config-volume
          configMap:
            {{- if .Values.demo }}
            name: {{ include "oathkeeper.fullname" . }}-config-demo
            {{- else }}
            name: {{ include "oathkeeper.configmap.name" . }}
            {{- end }}
        - name: {{ include "oathkeeper.name" . }}-rules-volume
          {{- if or .Values.oathkeeper.managedAccessRules .Values.maester.enabled .Values.oathkeeper.accessRulesOverride.nameOverride }}
          configMap:
            name: {{ include "oathkeeper.rulesConfigMapName" . }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if .Values.secret.enabled }}
        - name: {{ include "oathkeeper.name" . }}-secrets-volume
          secret:
            secretName: {{ include "oathkeeper.secretname" . }}
        {{- end }}
      serviceAccountName: {{ include "oathkeeper.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.deployment.automountServiceAccountToken }}
      initContainers:
      {{- if and (not .Values.oathkeeper.managedAccessRules) (not .Values.maester.enabled) (not .Values.oathkeeper.accessRulesOverride.nameOverride) }}
        - name: {{ include "oathkeeper.name" . }}-init
          image: "{{ .Values.image.initContainer.repository }}:{{ .Values.image.initContainer.tag }}"
          volumeMounts:
            - name: {{ include "oathkeeper.name" . }}-rules-volume
              mountPath: /etc/rules
              readOnly: false
          command:
            - sh
            - -c
            - |
              touch /etc/rules/access-rules.json
              chmod 666 /etc/rules/access-rules.json
          {{- if .Values.securityContext }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
      {{- end }}
      {{- if .Values.deployment.extraInitContainers }}
        {{- tpl  .Values.deployment.extraInitContainers . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.deployment.terminationGracePeriodSeconds }}
      containers:
        - name: {{ include "oathkeeper.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: 
            - "oathkeeper"
          args:
            - "serve"
            - "--config" 
            - "/etc/config/config.yaml"
            {{- with .Values.deployment.extraArgs }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          env:
            {{- if .Values.secret.enabled }}
            - name: MUTATORS_ID_TOKEN_CONFIG_JWKS_URL
              value: "file://{{ .Values.secret.mountPath }}/{{ .Values.secret.filename }}"
            {{- end }}
            {{- if .Values.deployment.extraEnv }}
              {{- tpl (toYaml .Values.deployment.extraEnv) . | nindent 12 }}
            {{- end }}
          volumeMounts:
          {{- with .Values.deployment.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
            - name: {{ include "oathkeeper.name" . }}-config-volume
              mountPath: /etc/config
              readOnly: true
            - name: {{ include "oathkeeper.name" . }}-rules-volume
              mountPath: /etc/rules
              readOnly: true
            {{- if .Values.secret.enabled }}
            - name: {{ include "oathkeeper.name" . }}-secrets-volume
              mountPath: {{ .Values.secret.mountPath }}
              readOnly: true
            {{- end }}
          ports:
            - name: http-api
              containerPort: {{ .Values.oathkeeper.config.serve.api.port }}
              protocol: TCP
            - name: http-proxy
              containerPort: {{ .Values.oathkeeper.config.serve.proxy.port }}
              protocol: TCP
            - name: http-metrics
              protocol: TCP
              containerPort: {{ .Values.oathkeeper.config.serve.prometheus.port }}
          lifecycle:
            {{- toYaml .Values.deployment.lifecycle | nindent 12 }}
          {{- if .Values.deployment.customLivenessProbe }}
          livenessProbe:
            {{- toYaml .Values.deployment.customLivenessProbe | nindent 12 }}
          {{- end }}
          readinessProbe:
            {{- if .Values.deployment.customReadinessProbe }}
              {{- toYaml .Values.deployment.customReadinessProbe | nindent 12 }}
            {{- else }}
            httpGet:
              path: /health/alive
              port: http-api
              httpHeaders:
                - name: Host
                  value: '127.0.0.1'
            {{- toYaml .Values.deployment.readinessProbe | nindent 12 }}
            {{- end }}
          startupProbe:
            {{- if .Values.deployment.customStartupProbe }}
              {{- toYaml .Values.deployment.customStartupProbe | nindent 12 }}
            {{- else }}
            httpGet:
              path: /health/ready
              port: http-api
              httpHeaders:
                - name: Host
                  value: '127.0.0.1'
            {{- toYaml .Values.deployment.startupProbe | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.deployment.resources | nindent 12 }}
          {{- if .Values.securityContext }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
        {{- if .Values.deployment.extraContainers }}
          {{- tpl .Values.deployment.extraContainers . | nindent 8 }}
        {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.deployment.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.deployment.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
