version: 2.1
jobs:
  lint:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/ory/k8s
    steps:
      - checkout
      - run: curl -L https://git.io/get_helm.sh | bash
      - run: helm lint ./helm/charts/oathkeeper/
      - run: helm lint ./helm/charts/hydra/
      - run: helm lint ./helm/charts/hive/
      - run: helm lint ./helm/charts/example-idp/

  test:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: "Install microk8s & kubectl"
          command: |
            sudo apt-get update 
            sudo apt-get -y install snapd
            sudo snap install microk8s --channel=1.14/edge --classic
            sudo snap install kubectl --classic
            snap info microk8s
      - run:
          name: "System setup"
          command: |
            echo 'export PATH=/snap/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
            sudo iptables -P FORWARD ACCEPT
      - run:
          name: "Start microk8s"
          command: |
            sudo microk8s.start
            sudo microk8s.status
            sudo microk8s.enable dns
            sudo kubectl get all --all-namespaces
      - run: 
          name: "Install Helm"
          command: |
            curl -L https://git.io/get_helm.sh | bash
            helm init --service-account default --wait
      - run: .circleci/helm-test.sh oathkeeper
      - run: .circleci/helm-test.sh hydra

  release:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/ory/k8s
    steps:
      - checkout
      - run: curl -L https://git.io/get_helm.sh | bash
      - run: helm init --client-only
      - run: helm package -d docs/helm/charts/ ./helm/charts/oathkeeper/ --version `echo $CIRCLE_TAG | sed s/v//g`
      - run: helm package -d docs/helm/charts/ ./helm/charts/hydra/ --version `echo $CIRCLE_TAG | sed s/v//g`
      - run: helm package -d docs/helm/charts/ ./helm/charts/example-idp/ --version `echo $CIRCLE_TAG | sed s/v//g`
      - run: helm package -d docs/helm/charts/ ./helm/charts/hive/ --version `echo $CIRCLE_TAG | sed s/v//g`
      - run: helm repo index docs/helm/charts/
      - run: git config --global user.email "hi@ory.sh"
      - run: git config --global user.name "ORY Continuous Integration"
      - run: git checkout -b make-release HEAD
      - run: git add -A
      - run: git commit -a -m "Release $CIRCLE_TAG"
      - run: git push origin HEAD:master

workflows:
  version: 2
  ci:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - lint:
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - lint
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
