version: 2.1
jobs:
  lint:
    docker:
      - image: circleci/golang:1.16.5
    working_directory: /go/src/github.com/ory/k8s
    steps:
      - checkout
      - run: curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
      - run: helm lint ./helm/charts/oathkeeper/
      - run: helm lint ./helm/charts/oathkeeper-maester/
      - run: helm lint ./helm/charts/keto/
      - run: helm lint ./helm/charts/hydra/
      - run: helm lint ./helm/charts/hydra-maester/
      - run: helm lint ./helm/charts/kratos/
      - run: helm lint ./helm/charts/example-idp/
      - run: helm lint ./helm/charts/kratos-selfservice-ui-node/
  
  validate:
    docker:
      - image: circleci/golang:1.16.5
    working_directory: /go/src/github.com/ory/k8s
    steps:
      - checkout
      - run: curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
      - run: helm plugin install https://github.com/instrumenta/helm-kubeval
      - run: helm kubeval ./helm/charts/oathkeeper/
      - run: helm kubeval ./helm/charts/oathkeeper-maester/
      - run: helm kubeval ./helm/charts/keto/
      - run: helm kubeval ./helm/charts/hydra/
      - run: helm kubeval ./helm/charts/hydra-maester/
      - run: helm kubeval ./helm/charts/kratos/
      - run: helm kubeval ./helm/charts/example-idp/
      - run: helm kubeval ./helm/charts/kratos-selfservice-ui-node/

  test:
    machine:
      image: ubuntu-2004:202104-01
      # docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: "Install kind & kubectl"
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            curl -Lo ./kind https://github.com/kubernetes-sigs/kind/releases/download/v0.11.1/kind-$(uname)-amd64
            chmod +x ./kubectl
            chmod +x ./kind
            sudo mv ./kubectl /usr/local/bin/kubectl
            sudo mv ./kind /usr/local/bin/kind
      - run:
          name: "Create cluster"
          command: |
            kind create cluster --wait 2m
      - run:
          name: "Install Helm"
          command: |
            curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
      - run:
          name: "Install postgres"
          command: |
            helm repo add bitnami https://charts.bitnami.com/bitnami
            helm repo update
            helm install postgresql bitnami/postgresql -f .circleci/values/postgres.yaml
      - run:
          command: |
            .circleci/helm-test.sh oathkeeper
      - run:
          command: |
            .circleci/helm-test.sh oathkeeper-maester
      - run:
          command: |
            .circleci/helm-test.sh hydra
      - run:
          command: |
            .circleci/helm-test.sh hydra-maester
      - run:
          command: |
            .circleci/helm-test.sh kratos
      - run:
          command: |
            .circleci/helm-test.sh keto

  release:
    docker:
      - image: circleci/golang:1.16.5
    working_directory: /go/src/github.com/ory/k8s
    steps:
      - checkout
      - run: make release
      - run: git config --global user.email "aeneas@ory.sh"
      - run: git config --global user.name "aeneasr"
      - run: git checkout -b make-release HEAD
      - run: git add -A
      - run: git commit -a -m "Release $CIRCLE_TAG"
      - run: git push origin HEAD:master

workflows:
  version: 2
  ci:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - lint:
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - lint
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
