version: 2.1
jobs:
  lint:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/ory/k8s
    steps:
      - checkout
      - run: curl -L https://git.io/get_helm.sh | bash
      - run: helm lint ./helm/charts/ory-oathkeeper/

  release:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/ory/k8s
    steps:
      - checkout
      - run: curl -L https://git.io/get_helm.sh | bash
      - run: helm init --client-only
      - run: helm package -d docs/ ./helm/charts/ory-oathkeeper/ --version "$(echo $CIRCLE_TAG | sed s/v//g)"
      - run: helm repo index docs/
      - run: git config --global user.email "hi@ory.sh"
      - run: git config --global user.name "ORY Continuous Integration"
      - run: git checkout -b make-release HEAD
      - run: git add -A
      - run: git commit -a -m "Release $CIRCLE_TAG"
      - run: git push origin HEAD:feat-oathkeeper-helm

workflows:
  version: 2
  ci:
    jobs:
      - lint:
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - lint
#          filters:
#            tags:
#              only: /.*/
