apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "keto.fullname" . }}
  labels:
    {{- include "keto.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "keto.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "keto.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.keto.autoMigrate }}
      initContainers:
        - name: {{ .Chart.Name }}-automigrate
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ "keto" ]
          args: [ "migrate", "up", "-y", "--all-namespaces", "--config", "/etc/config/keto.yaml" ]
          volumeMounts:
            - name: {{ include "keto.name" . }}-config-volume
              mountPath: /etc/config
              readOnly: true
          env:
            - name: DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "keto.secretname" . }}
                  key: dsn
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
      {{- end }}
      serviceAccountName: {{ include "keto.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ "keto" ]
          args:
            - serve
            - --config
            - /etc/config/keto.yaml
          ports:
            - name: read
              containerPort: 4466
              protocol: TCP
            - name: write
              containerPort: 4467
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/alive
              port: write
          readinessProbe:
            httpGet:
              path: /health/ready
              port: write
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{- if .Values.tracing.datadog.enabled }}
            - name: TRACING_PROVIDER
              value: datadog
            - name: DD_ENV
              value: {{ .Values.tracing.datadog.env | default "none" | quote }}
            - name: DD_VERSION
              value: {{ .Values.tracing.datadog.version | default .Chart.AppVersion | quote }}
            - name: DD_SERVICE
              value: {{ .Values.tracing.datadog.service | default "ory/keto" | quote }}
            {{- if .Values.tracing.datadog.useHostIP }}
            - name: DD_AGENT_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            {{- end }}
            {{- end }}
            - name: DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "keto.secretname" . }}
                  key: dsn
            {{- with .Values.extraEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: {{ include "keto.name" . }}-config-volume
              mountPath: /etc/config
              readOnly: true
      volumes:
        - name: {{ include "keto.name" . }}-config-volume
          configMap:
            name: {{ include "keto.fullname" . }}-config
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
