{{- if .Values.pdb.enabled -}}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "keto.fullname" . }}
  {{- if .Release.Namespace }}
  namespace: {{ .Release.Namespace }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "keto.selectorLabels" . | nindent 6 }}
  {{- toYaml .Values.pdb.spec | indent 2 }}
{{- end -}}
