{{- $resources := ternary .Values.deployment.resources .Values.resources (not (empty .Values.deployment.resources )) -}}
{{- $annotations := ternary .Values.statefulSet.annotations .Values.deployment.annotations (not (empty .Values.statefulSet.annotations )) -}}
{{- $labels := ternary .Values.statefulSet.labels .Values.deployment.labels (not (empty .Values.statefulSet.labels )) -}}
{{- $extraVolumeMounts := ternary .Values.statefulSet.extraVolumeMounts .Values.deployment.extraVolumeMounts (not (empty .Values.statefulSet.extraVolumeMounts )) -}}
{{- $extraEnv := ternary .Values.statefulSet.extraEnv .Values.deployment.extraEnv (not (empty .Values.statefulSet.extraEnv )) -}}
{{- $extraContainers := ternary .Values.statefulSet.extraContainers .Values.deployment.extraContainers (not (empty .Values.statefulSet.extraContainers )) -}}
{{- $extraInitContainers := ternary .Values.statefulSet.extraInitContainers .Values.deployment.extraInitContainers (not (empty .Values.statefulSet.extraInitContainers )) -}}
{{- $extraVolumes := ternary .Values.statefulSet.extraVolumes .Values.deployment.extraVolumes (not (empty .Values.statefulSet.extraVolumes )) -}}
{{- $nodeSelector := ternary .Values.statefulSet.nodeSelector .Values.nodeSelector (not (empty .Values.statefulSet.nodeSelector )) -}}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "kratos.fullname" . }}-courier
  {{- if .Release.Namespace }}
  namespace: {{ .Release.Namespace }}
  {{- end }}
  labels:
{{ include "kratos.labels" . | indent 4 }}
    {{- with $labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with $annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "kratos.fullname" . }}-courier
      app.kubernetes.io/instance: {{ .Release.Name }}
  serviceName: {{ include "kratos.fullname" . }}-courier
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "kratos.fullname" . }}-courier
        app.kubernetes.io/instance: {{ .Release.Name }}
        {{- with $labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- include "kratos.annotations.checksum" . | indent 8 -}}
        {{- with $annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "kratos.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "kratos.fullname" . }}-courier
          image: {{ include "kratos.image" . }}
          imagePullPolicy: {{ include "kratos.imagePullPolicy" . }}
          args: [ "courier", "watch", "--config", "/etc/config/kratos.yaml" ]
          volumeMounts:
            - name: {{ include "kratos.fullname" . }}-config-volume
              mountPath: /etc/config
              readOnly: true
            {{- if $extraVolumeMounts }}
{{ toYaml $extraVolumeMounts | indent 12 }}
            {{- end }}
            {{- $root := . -}}
            {{- range $method, $methodEntry := .Values.kratos.emailTemplates }}
            {{- range $result, $resultEntry := $methodEntry }}
            - name: {{ include "kratos.name" $root }}-template-{{ $method }}-{{ $result }}-volume
              mountPath: /conf/courier-templates/{{ $method }}/{{ $result }}
              readOnly: true
            {{- end }}
            {{- end }}
          env:
            - name: LOG_FORMAT
              value: {{ .Values.statefulset.log.format }}
            - name: LOG_LEVEL
              value: {{ .Values.statefulset.log.level }}
            - name: DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "kratos.secretname" . }}
                  key: dsn
            - name: SECRETS_DEFAULT
              valueFrom:
                secretKeyRef:
                  name: {{ include "kratos.secretname" . }}
                  key: secretsDefault
                  optional: true
            - name: SECRETS_COOKIE
              valueFrom:
                secretKeyRef:
                  name: {{ include "kratos.secretname" . }}
                  key: secretsCookie
                  optional: true
            - name: SECRETS_CIPHER
              valueFrom:
                secretKeyRef:
                  name: {{ include "kratos.secretname" . }}
                  key: secretsCipher
                  optional: true
            - name: COURIER_SMTP_CONNECTION_URI
              valueFrom:
                secretKeyRef:
                  name: {{ include "kratos.secretname" . }}
                  key: smtpConnectionURI
            {{- if $extraEnv }}
{{ toYaml $extraEnv | indent 12 }}
            {{- end }}
          resources:
              {{- toYaml $resources | nindent 12 }}
          {{- if .Values.securityContext }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
        {{- if $extraContainers }}
{{ tpl $extraContainers . | indent 8 }}
        {{- end }}
      {{- if $extraInitContainers }}
      initContainers:
{{ tpl $extraInitContainers . | indent 8 }}
      {{- end }}
      volumes:
        - name: {{ include "kratos.fullname" . }}-config-volume
          configMap:
            name: {{ include "kratos.fullname" . }}-config
        {{- if $extraVolumes }}
{{ tpl (toYaml $extraVolumes) . | indent 8 }}
        {{- end }}
        {{- $root := . -}}
        {{- range $method, $methodEntry := .Values.kratos.emailTemplates }}
        {{- range $result, $resultEntry := $methodEntry }}
        - name: {{ include "kratos.name" $root }}-template-{{ $method }}-{{ $result }}-volume
          configMap:
            name: {{ include "kratos.fullname" $root }}-template-{{ $method }}-{{ $result }}
        {{- end }}
        {{- end }}
      {{- with $nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
